
<header>
  <div class="container">
    <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>-->

    <img src="/images/teilwerk.png" alt="teilWERK Logo" />

    <ul class="navbar">
        <li><a href="index.html">HOME</a></li>
        <li><a href="introduction.html">ABOUT</a></li>
        <li><a href="software.html">SOFTWARE</a></li>
        <li><a href="hardware.html">HARDWARE</a></li>
        <li><a href="frames.html">DESIGN</a></li>
        <li><a href="buy.html">BUY</a></li>
    </ul>

  </div>
</header>
